<li data-id="<%= con.id %>">con: <%= con.name %>  --  weight: <%= con.weight %> <% if current_user == @issue.user %> <a href="/cons/<%= con.id %>/" data-remote="true" data-method="delete" class="delete_button" >X</a><% end %></li>
